* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 400px;
}

.square {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease-out;
}

.square:hover {
  transition-duration: 3c;
  transition-property: margin-right, color;
}
